<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 max-auto">
                <div class="row">
                    <!-- main header left -->
                    <div class="col-md-6 col-12 main_header_left">
                        <figure class="errorimg">
                            <img src="image/error.jpg" alt="pankaj" class="img-fluid" title="programmingWithPankaj">
                        </figure>
                    </div>
 <div class="col-md-6 col-12 main_header_left">
                    <p> Welcome To Pankaj Technical World ! </p>
                    <h1> 'Oops' Page Not Found </h1>
                    <a href="/"><button> Go Back </button></a>
                </div>
                </div>
               
            </div>
        </div>
    </div>
    </div>

    {{>footer}}
</body>

</html>