<html lang="en">

<head>
      {{>headerlink}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 max-auto">
                <div class="row">
                    <!-- main header right -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="image/pankaj.png" alt="pankaj" class="img-fluid" title="programmingWithPankaj">
                        </figure>
                    </div>

                    <!-- main header left -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p> welcome to pankaj website </p>
                        <h1> I Am A <span> Mern Stack Developer </span> And A Security Expert </h1>
                        <a href="image/pankajResume.docx"><button>About Me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

  {{>footer}}
</body>

</html>